{% extends 'template/defaultTemplate.html.twig' %}

{% block page_title %}<title>Sign {{ typeOfSign }}</title>{% endblock %}

{% block content %}
    <h1 class="divSignTitle">Sign {{ typeOfSign }}</h1>
    <div class="divSign">

    </div>
{% endblock %}